@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #E6EAEC;
    font-family: 'Manrope', sans-serif;
}

/* Nav intro section  */


/* Nav intro background  */

.navIntro::before {
    background: url("../Assets/Photos/mainBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    content: "";
    position: absolute;
    top: -80px;
    width: 100%;
    height: 1200px;
    z-index: -1;
}

.navIntro {
    background: rgba(0, 0, 0, 0.495);
    height: 1120px;
}

/* Nav Bar  */

nav {
    display: flex;
    padding: 43px 200px;
    justify-content: space-between;
}

nav img {
    width: 190px;
}

nav ul {
    display: flex;
    gap: 80px;
    color: #CED0D1;
    list-style-type: none;
    font-size: 24px;
    font-weight: 800;
    margin-top: 22px;
}

.horizontalhr {
    padding: 0px 128px;
}

/* intro section  */

.intro {
    margin: 160px 0px 0px 200px;
}

.introPara1 {
    color: #fff;
    font-size: 92px;
    font-weight: 600;
    line-height: 1.2;
}

.introPara2 {
    color: #CACDCD;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7;
    margin: 38px 0px 0px 0px;
}

.intro button {
    background-color: #6663E9;
    border: none;
    border-radius: 60px;
    margin-top: 55px;
    width: 270px;
    height: 83px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.logoName {
    background-color: #fff;
    margin: 215px 60px;
    padding: 0px 150px;
    border-radius: 50px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
}

.logoName img {
    width: 200px;
}

/* Best Estate Section  */

.bestEstatePara1 {
    color: #27292E;
    font-size: 84px;
    font-weight: 800;
    text-align: center;
    padding-top: 300px;
}

/* <!-- Property photos, name, price and detail button  --> */

.properties {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 180px 170px 0px 210px;
    column-gap: 30px;
    row-gap: 250px;
}


.propertyDetail {
    width: 485px;
    height: 530px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.property1 {
    background: url(../Assets/Photos/cardImage1.png) no-repeat center center/cover;
    position: relative;
    bottom: 90px;
}

.property2 {
    background: url(../Assets/Photos/cardImage2.png) no-repeat center center/cover;
    background-position: 10%;
    position: relative;
    bottom: 45px;
}

.property3 {
    background: url(../Assets/Photos/cardImage3.png) no-repeat center center/cover;
}

.property4 {
    background: url(../Assets/Photos/cardImage4.png) no-repeat center center/cover;
}

.property5 {
    background: url(../Assets/Photos/cardImage5.png) no-repeat center center/cover;
    position: relative;
    bottom: 50px;
}

.property6 {
    background: url(../Assets/Photos/cardImage6.png) no-repeat center center/cover;
    position: relative;
    bottom: 100px;
}

.property7 {
    background: url(../Assets/Photos/cardImage7.png) no-repeat center center/cover;
    position: relative;
    bottom: 100px;
}

.property8 {
    background: url(../Assets/Photos/cardImage8.png) no-repeat center center/cover;
    position: relative;
    bottom: 60px;
}

.property9 {
    background: url(../Assets/Photos/cardImage9.png) no-repeat center center/cover;
    background-position: 75%;
    position: relative;
    bottom: 20px;
}


.propertyNamePriceBtn {
    background-color: #fff;
    width: 88%;
    height: 170px;
    border-radius: 25px;
    display: flex;
    position: relative;
    top: 440px;
}

.propertyName {
    font-size: 29px;
    font-weight: 700;
    margin: 45px 0px 0px 40px;
    color: #2F3542;
}

.propertyPrice {
    color: #605CE7;
    font-size: 24px;
    font-weight: 800;
    margin: 15px 0px 0px 40px;
}

.propertyBtn button {
    background-color: #6663E9;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin: 60px 0px 0px 65px;
    width: 150px;
    height: 70px;
    border-radius: 40px;
}

/* <!-- Modern House Book  --> */

.modernHouseBook {
    display: flex;
    height: 1068px;
}

.leftModernHOuseBook img {
    margin-top: 470px;
    width: 940px;
}

.houseImg {
    width: 690px;
    height: 690px;
    border-radius: 60px;
}

.modernHouseImg {
    position: relative;
    bottom: 880px;
    left: 170px;
    background: url(../Assets/Photos/featuresImage1.png) no-repeat center center/cover;
    background-position: -150px;
}

.bookingPara1 {
    font-size: 82px;
    font-weight: 700;
    color: #26282D;
}

.bookingPara2 {
    color: #6f7278;
    font-size: 24px;
    font-weight: 600;
}

.bookingBtn {
    color: #fff;
    background-color: #6663E9;
    border: none;
    width: 285px;
    height: 85px;
    border-radius: 70px;
    font-size: 22px;
    font-weight: 600;
}

.modernPara1 {
    padding: 500px 0px 0px 105px
}

.modernPara2 {
    margin: 40px 0px 0px 105px;
}

.modernBtn {
    margin: 90px 0px 0px 105px;
}


/* <!-- Unique House Book  --> */

.uniqueHouseBook {
    display: flex;
    height: 1068px;
}

.rightUniqueHOuseBook img {
    position: relative;
    top: 470px;
    left: 95px;
    width: 940px;
}

.uniqueHouseImg {
    position: relative;
    bottom: 410px;
    left: 175px;
    background: url(../Assets/Photos/featuresImage2.png) no-repeat center center/cover;
}


.uniquePara1 {
    padding: 500px 0px 0px 220px
}

.uniquePara2 {
    margin: 40px 0px 0px 220px;
}

.uniqueBtn {
    margin: 90px 0px 0px 220px;
}

/* <!-- Subscribing newsletter  --> */

.subscribe{
    background-color: #6663E9;
    margin: 310px 95px 170px 95px;
    height: 700px;
    border-radius: 90px;
    color: #fff;
    text-align: center;
}

.subscribePara1{
    font-size: 80px;
    font-weight: 800;
    padding: 90px 0px 0px 0px;
}

.subscribePara2{
    color: #E6E6FC;
    font-size: 23px;
    font-weight: 500;
    line-height: 2;
    margin-top: 30px;
}

.subscribeEmail input{
    background-color: #5654D1;
    border: none;
    border-radius: 80px;
    height: 82px;
    width: 610px;
    margin-right: 40px;
}

.subscribeEmail{
    margin-top: 75px;
}

.subscribeEmail input::placeholder{
    color: #A3A2E6;
    font-size: 22px;
    font-weight: 500;
    padding-left: 80px;
}

.subscribeEmail img{
    position: relative;
    top: 10px;
    left: 60px;
    width: 35px;
}

.subscribeEmail button{
    background-color: #FEFEFE;
    color: #5956E7;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 80px;
    height: 82px;
    width: 240px;
}
