@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #0F0F10;
    color: #F2F2F3;
    font-family: 'Poppins', sans-serif;
}

/* <!-- Navigation Bar  --> */

nav {
    display: flex;
    margin: 45px 0px 0px 340px;
    align-items: center;
    height: 80px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px 125px 0px 580px;
    gap: 72px;
    font-size: 20px;
    font-weight: 600;
}

nav button {
    background-color: #1E1E21;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 205px;
    height: 70px;
}

/* <!-- intro section of product  --> */

.intro {
    display: flex;
    margin-left: 495px;
    height: 795px;
}

.leftIntro img {
    position: relative;
    bottom: 300px;
    right: 50px;
    width: 370px;
}

.rightIntro {
    margin: 0px 0px 0px 100px;
}

.introOnEarImg {
    width: 500px;
    margin: 30px 0px 5px 70px;
}

.introPara1 {
    font-size: 80px;
    font-weight: 600;
}

.introPara2 {
    font-size: 25px;
    font-weight: 600;
    margin: 43px 0px 30px 0px;
}

.introPara3 {
    font-size: 20px;
    font-weight: 400;
    color: #B9BCBE;
    line-height: 2.1;
}

.introAddToBag {
    background-color: #1E1E21;
    width: 310px;
    height: 70px;
    border-radius: 15px;
    margin-top: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.introAddToBag img {
    width: 25px;
}

.introAddToBagPara1 {
    font-size: 19px;
}

.introAddToBagPara2 {
    font-size: 25px;
    font-weight: 700;
}

/* <!-- social media section  --> */

.socialMediaSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.socialMediaSection img {
    width: 120px;
}

/* <!-- Specification section  --> */

.specs {
    margin-top: 188px;
    margin: 188px 0px 0px 688px;
}

.specsWrittenImg {
    width: 240px;
    margin-left: 154px;
    margin-bottom: 45px;
}

.specsLeftRight {
    display: flex;
}

.specsFeatures {
    height: 115px;
}

.specsFeatures1,
.specsFeatures4 {
    margin-left: 26px;
}

.specsFeatures img {
    margin-bottom: -3px;
}

.specsFeatures1 img {
    width: 19px;
    margin-left: 5px;
}

.specsFeatures2 img {
    width: 30px;
}

.specsFeatures3 img {
    width: 16px;
    margin-left: 5px;
}

.specsFeatures4 img {
    width: 18px;
    margin-left: 4px;
}

.specsFeaturesPara1 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 4px;
}

.specsFeaturesPara2 {
    font-size: 15px;
    font-weight: 500;
    color: #A7AAAC;
}

.rightSpecs img {
    width: 370px;
    margin-left: 105px;
    margin-top: 20px;
}

/* <!-- Case Section  --> */

.case {
    margin-left: 600px;
}

.writtenCaseImg {
    width: 215px;
    margin: 172px 0px 80px 255px;
}

.leftCase img {
    width: 350px;
}

.leftRightCase {
    display: flex;
}

.rightCase {
    margin: 112px 0px 0px 100px;
}

.caseDetail {
    color: #A7AAAC;
    font-size: 19px;
    /* font-weight: 400; */
    line-height: 2;
}

.moreInfo {
    background-color: #1E1E21;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    margin-top: 61px;
    height: 61px;
    width: 178px;
    border-radius: 12px;
}

.moreInfo img {
    width: 27px;
}

/* <!-- Buy now Section  --> */

.buyNow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #181A1B;
    width: 1116px;
    height: 400px;
    margin: 150px 0px 130px 400px;
}

.leftBuyNowPara1 {
    font-size: 28px;
    font-weight: 600;
}

.leftBuyNowPara2 {
    color: #C7CACC;
    font-size: 18px;
    margin: 20px 0px;
}

.buyNowButton {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 185px;
    height: 67px;
    border-radius: 10px;
    font-size: 18px;
}

.buyNowButton img {
    width: 23px;
}

.rightBuyNow img {
    width: 370px;
}