
/* ------------tab screen------------- */

@media screen and (min-width: 640px) {


    /* --------------intro section ------------------- */
    .simplify{
        font-size: 4.5em;
    }

    /* ------------logo image------------  */

    /* ----------------features--------------------  */

 .features {
    height: 850px;
}

.up {
    display: flex;
}

.best {
    font-size: 50px;
    font-weight: 500;
    margin: 90px 0px 120px 180px;
}

.best span {
    color: #f637ec;
    font-weight: 600;
}

.services {
    color: #909090f4;
    margin: 130px 0px 0px 400px;
    font-size: 20px;

}

.down {
    display: flex;
    justify-content: center;

}

.box {
    border: 2px solid #909090;
    width: 270px;
    height: 270px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 18px;
}

.box p {
    text-align: center;
    margin-top: 12px;
}

.box1,
.box3 {
    margin-top: 50px;
    background-color: #272727;
}

.box2 {
    background-color: #454140;
}

.box img {
    width: 120px;
    margin: 40px 0px 0px 80px;
}

}


/* -----------big tab screen----------- */

@media screen and (min-width: 768px) {

     /* -------Nav menu------- */

     /* --------------intro section ------------------- */

   
}

/* ----------- laptop screen ---------- */

@media screen and (min-width: 1024px) {

     /* -------Nav menu------- */
   
    .option{
        list-style-type: none;
        display: flex;
        gap: 50px;
    }
   
   .downarrow{
    margin-left: 15px;
    font-size: 11px;
   }

    .contact {
        position: relative;
        right: 65px;
        font-size: 18px;
    }

    .nav-menu{
        display: none;
    }

    /* --------------intro section ------------------- */

    .intro{
        width: 100%;
        display: flex;
    }

    .left{
        width: 90%;
    }

    .right{
        width: 50%;
        position: absolute;
        left: 50%;
        /* margin-left: 40%; */
    }

    .front{
        position: relative;
        /* z-index: -1; */
        left: 55px;
        bottom: 300px;
        width: 120%;
    }

    .back{
        left: 80%;
    }

.simplify {
    padding-left: 50px;
    text-align: left;
}


.hurry {
    width: 70%;
    padding-left: 50px;
    text-align: left;
}

.get {

justify-content: flex-start;
}

.counting {
    justify-content: flex-start;
    padding-left: 50px;
}


.iconsimg {
    margin: 50px 0px;
}


}

/* -------------Desktop screen------------- */

@media screen and (min-width: 1280px) {

     /* -------Nav menu------- */

     /* --------------intro section ------------------- */
     .front{
        bottom: 510px;
        left: 162px;
        width: 105%;


}
