@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,300&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Nav intro background  */

.navIntro::before{
    background: url("../Assets/Photos/futuristic-bg.png") no-repeat center center/cover;
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 950px;
    z-index: -1;
}

.navIntro{
    background: rgba(0, 0, 0, 0.555);
    height: 800px;
}

/* Nav Bar  */

nav{
    display: flex;
    color: #C7C6C6;
}

nav img{
    margin: 40px 0px 0px 135px; 
    width: 160px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 50px 400px 0px 125px; 
    font-size: 17px;
    font-weight: 500;
}

nav button{
    color: #fff;
    width: 145px;
    height: 55px;
    margin-top: 40px;
    background-color: #F4694C;
    font-size: 17px;
    font-weight: 500;
    border: none;
}

.signin{
    background-color: transparent;
    color: #ffffffae;
}

/* intro section  */

.intro{
    color: #fff;
    display: flex;
   
}

.introfirstpara{
    margin: 140px 0px 0px 135px;
    font-size: 60px;
    font-weight: 600;
}

.introsecondpara{
    color: #9A9899;
    font-size: 17px;
    font-weight: 500;
    margin: 22px 0px 0px 135px;
    line-height: 2;
}

.intro button{
    color: #fff;
    font-size: 19px;
    width: 200px;
    height: 65px;
    margin-top: 45px;
}

.getStarted{
    background-color: #F4694C;
    margin: 0px 23px 0px 135px;
    font-weight: 600;
}

.learnmore{
    border: 2px solid #fff;
    background-color: transparent;
}

.rightimage1{
    margin: 260px 0px 0px 430px;
    color: #fff;
    width: 95px;
}

.rightintro p{
    font-size: 27px;
    color: #F0F7F8;
    margin: 140px 0px 0px 355px;
}

.smallLine{
    background-color: #fff;
    width: 55px;
    height: 1.8px;
    position: relative;
    top: 162px;
    left: 285px;
}

.rightintroarrow{
    position: relative;
    bottom: 13px;
    left: 670px;
    width: 70px;
}


/* Popular Games  */

.popularGames{
    margin-bottom: 208px;
}

.popularGamesPara{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 185px 0px 80px 0px;
}

.downloadgames{
    display: flex;
    margin-left: 140px;
    gap: 30px;
}

.gameimg{
    width:332px;
    height: 400px;
}

.game1{
    background-image: url('../Assets/Photos/image\ 2.png');
    background-position: 74%;
    background-size: cover; 
}

.game2{
        background-image: url('../Assets/Photos/image\ 4.png');
        background-position: 52%;
        background-size: cover; 
}
.game3{
        background-image: url('../Assets/Photos/image\ 3.png');
        background-position: 48%;
        background-size: cover; 
        
}
.game4{
        background-image: url('../Assets/Photos/Rectangle\ 56.png');
        background-position: 45%;
        background-size: cover; 
}

.gamedetail{
    position: relative;
    top: 280px;
    display: flex;
    color: #fff;
    padding: 18px 0px 0px 16px;
}

.gamedetail1{
    background-color: #414547f1;
}
.gamedetail2{
    background-color: #13110ceb;
}

.gamedeatil3{
    background-color: #474b7dea;
}

.gamedetail4{
    background-color: #69584ef6;
}

.gamename{
    font-weight: 600;
    font-size: 19px;
}

.actions{
    font-size: 14px;
    color: #9EA0A0;
    margin: 6px 0px;
}

.stars img{
    width: 15px;
   margin: 10px 2px;
}

.gameDownload{
    color: #fff;
    background-color: #F4694C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    width: 118px;
    height: 48px;
    margin: 22px 0px 0px 28px;
}

.game3 button{
    margin-left: 57px;
}

.game2 button{
    margin-left: 40px;
}