@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Monsterrat";
}
body{
    height: 100vh;
    overflow: hidden;
}

.nav-bar{
    height: 15vh;
    padding: 20px 10%;
}

nav ul{
   display: flex;
   flex-direction: row;
   align-items: center;
}

nav ul li{
    list-style-type: none;
    margin-right: 5%;
    font-size: 18px;
}

/* Css for main section */

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain{
    width:40%;
}

.leftmain h1{
    font-size: 67px;
}

.leftmain p{
    margin: 5% 0;
}
.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color:#fff;
    font-weight: 700;
}

.rightmain{
    width: 50%;
}

.upperimage{
    margin-top:-10px ;
}


/* ----------------------Media Queries---------------------- */


/* -----------------------Desktops and Laptos---------------------- */

@media screen and (max-width: 1240px) {

    .nav-bar{
        padding: 0px;
        display: flex;
    }

    nav ul{
        width: 100%;
    }
    

    nav ul li{
        font-size: 1rem;
    }

    main{
        margin-left: 0%;
        padding: 2%;
        width: 100%;
    }
    
    .leftmain{
        width:100%;
    }
    
    .leftmain h1{
        font-size: 350%;
    }
    
    .leftmain p{
        margin: 5% 0;
        font-size: 1.2rem;
    }
    .leftmain button{
        display: block;
        margin: auto;
    }
    
    .rightmain{
        width: 100%;
    }
    
    .upperimage{
        width: 100%;
        display: flex;
        margin-top: 5%;
    }

    .upperimage>img{
        width: 50%;
        margin: 0.5%;
    }

    .lowerimage img{
        width: 100%;
        margin: 0.4%;
    }

}


/* ----------------------Tablets---------------------- */

@media screen and (max-width: 900px) {

    .nav-bar{
        padding: 0px;
        display: flex;
    }

    nav ul{
        width: 100%;
    }
    

    nav ul li{
        font-size: 1rem;
    }

    main{
        margin-left: 0%;
        width: 100%;
    }
    
    .leftmain{
        width:100%;
    }
    
    .leftmain h1{
        font-size: 350%;
    }
    
    .leftmain p{
        margin: 5% 0;
        font-size: 1.2rem;
    }
    .leftmain button{
        display: block;
        margin: auto;
    }
    
    .rightmain{
        width: 100%;
    }
    
    .upperimage{
        width: 100%;
        display: flex;
        margin-top: 5%;
    }

    .upperimage>img{
        width: 50%;
        margin: 0.5%;
    }

    .lowerimage img{
        width: 100%;
        margin: 0.4%;
    }

}

/* ----------------------Mobile Phones ---------------------- */

@media screen and (max-width: 500px) {


    .nav-bar{
        padding: 0px;
        display: flex;
    }

    nav ul{
        width: 100%;
        margin: 0% 5% ;
    }
    

    nav ul li{
        font-size: 1rem;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
        width: 100%;
    }
    
    .leftmain{
        width:100%;
    }
    
    .leftmain h1{
        font-size: 350%;
        margin: 0% 5%;
    }
    
    .leftmain p{
        margin: 5% 5%;
        font-size: 1.2rem;
    }
    .leftmain button{
        display: block;
        margin: auto;
    }
    
    .rightmain{
        width: 100%;
    }
    
    .upperimage{
        width: 100%;
        display: flex;
        margin-top: 5%;
    }

    .upperimage>img{
        width: 50%;
        margin: 0.5%;
    }

    .lowerimage img{
        width: 100%;
        margin: 0.4%;
    }

}