@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

/* <!-- Nav bar and intro Section  --> */

.navIntro{
    height: 870px;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    background: linear-gradient( to top, rgba(186, 214, 243, 0.938), rgba(255, 255, 255, 0.966));
}

/* <!-- Navbar --> */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 307px 0px 307px;
}

nav img{
    width: 150px;
}
nav ul{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    gap: 63px;
    align-items: center;
}

nav span{
    font-size: 16.5px;
    font-weight: 600;
    padding-left: 5px;
    
}

.startFreeTrialBtn{
    width: 188px;
    height: 52px;
    border-radius: 30px;
    font-size: 19px;
}

nav button{
    color: #722ED1;
    border: 2px solid #722ED1;
}

/* <!-- intro section  --> */

.introSection{
    margin: 182px 307px 0px 307px;
    display: flex;
}

.versionLeftIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    color: #722ED1;
    background-color: #d9c9ee93;
    width: 337px;
    height: 58px;
    border-radius: 35px;
}

.versionLeftIntro img{
    width: 24px;
}

.versionLeftIntro p{
    font-size: 20px;
}

.versionLeftIntro p>span{
    text-decoration: underline;
}

.leftIntroSectionPara1{
    font-size: 62px;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 35px;
}

.leftIntroSectionPara2{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.5;
    color: #494a4dae;
    margin: 35px 0px;
}

.leftIntroStratFreeBtn{
    border: none;
    color: #fff;
    background-color: #722ED1;
}

.leftIntroLearnMoreBtn{
    width: 160px;
    height: 52px;
    color: #722ED1;
    border: none;
    border-radius: 30px;
    font-size: 19px;
    margin-left: 22px;
}

.rightIntroSection img{
    margin-left: 11px;
    width: 580px;
}